
<section id="contact" aria-labelledby="contact-title">
    <div class="container">

        <h2 id="contact-title" class="hdr-graded">Meet the Author</h2>

        <div class="grid-2">
            <!-- Image / visual -->
            <figure class="card hero-art hero-img contact-visual" style="--hero-url: url('/assets/images/fullsize/steve-mosaic.png');">

            </figure>

            <!-- Details -->
            <div class="card">
                <h3 style="margin-top:0">Meet Steve Poole</h3>
                <p>Accomplished technical leader and developer advocate with years of experience in software engineering, DevOps, and security.</p><p> An expert on  cybercrime and software supply chain security. </p><p>Recognized international public speaker and author on software supply chain security, AI, and cybercrime legislation.</p><p>A Proven track record in driving product innovation, improving development processes, and fostering vibrant open-source communities.</p>


                <div class="contact-actions">
                    <a class="btn primary" href="mailto:hello@reflex-framework.com">Email me</a>
                    <a class="btn alt" href="/files/REFLEX-capability.pdf">Download a REFLEX overview</a>
                </div>


            </div>
        </div>
    </div>
</section>