<div class="row">

    <div class="col-md-2 d-none border p-3 reflex-{{ include.type | downcase }} d-md-flex justify-content-center align-items-center">
        <h2 class="vertical-heading"><i class="bi bi-gear-fill me-2"></i>{{include.text}}</h2>
    </div>

    <div class="col-12 d-block d-md-none text-center my-3 reflex-{{include.type | downcase}}">
        <h2>{{include.text}}</h2>
    </div>

    <div class="col-md-10 border p-3 battlecard-detail">
        {{ include.content }}
    </div>
 </div>

