<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    {% seo %}
    {% include head.html %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include nav.html %}
    <main class="flex-grow-1">
      <div class="container py-4">
          <h2 class="hdr-graded">{{ page.title }}</h2>
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
    <script src="{{ '/assets/js/site.js' | absolute_url }}"></script>
  </body>
</html>
