<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    {% include head.html %}
  </head>
  <body class="d-flex flex-column min-vh-100">
  <a id="top" class="sr-only" aria-hidden="true"></a>

  {% include nav.html %}
    <main class="flex-grow-1">
      <div class="container py-4">
        {{ content }}
      </div>
    </main>
    {% include footer.html %}

  <div class="container" style="margin-top:20px; font-size:13px">
      © <span id="y">2025</span> REFLEX. All rights reserved.
  </div>
    <script src="{{ '/assets/js/site.js' | absolute_url }}"></script>

  </body>
</html>
